{{/* 获取头像路径 */}}
{{ $avatar := .Params.avatar }}

{{/* 将../../xxx转换为./xxx */}}
{{ if and $avatar (not (hasPrefix $avatar "http")) }}
  {{ $avatar = replaceRE "^(\\.\\./)+" "./" $avatar }}
{{ end }}

<div class="flex items-center">
  {{ if $avatar }}
  <div class="avatar mr-1">
    <div class="w-8 rounded-full">
      <img class="my-0!" src="{{ $avatar }}" alt="{{ .Params.author }}" />
    </div>
  </div>
  {{ else }}
  <span>@</span>
  {{ end }}

  <span itemprop="author" itemscope itemtype="https://schema.org/Person">
  {{ if .Params.author }}
    {{ if and .Params.authorlink (eq .template "single") }}
      <a itemprop="url" href="{{ .Params.authorlink }}" target="_blank">
        <span itemprop="name">{{ .Params.author }}</span>
      </a>
    {{ else }}
      <span itemprop="name">{{ .Params.author }}</span>
    {{ end }}
  {{ else }}
    <span itemprop="name">{{ site.Params.author }}</span>
  {{ end }}
  </span>
</div>
